{% extends 'owner/layout.html' %}

{% block body %}
<div class="searchbar">
    <div class="field">
      <form  action="/search" method="get">
          <input class="inpt"  type="text" placeholder="Member Id" name="query" id="search">
          <button type="submit" >Search</button>
      </form>
      
      <button   float="right" style="background-color:#e97f06;">
        <a href="{% url 'notcome' %}" style="color:hsl(0, 29%, 97%)">Not Present</a>
    </button>
      
    </div>
  </div>
  <hr width="100%" height="50px">
{% endblock %}
<input type="submit" name="search" value="search">