{% extends 'owner/layout.html' %}

{%block body%}
<h1>Transactions</h1>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Menu</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Quantity</th>
        <th>Paid</th>              
    </tr>
{%for i in values%}

                <tr>
                    <td> {{i.Member_id}}</td>y
                    <td>{{i.Menu1_id}} </td>
                    <td>{{i.Date_added}}</td>
                    <td>{{i.Amount}}</td>
                    <td>{{i.Quantity}}</td>
                    <td>{{i.Paid}}</td>
                   
{%endfor%}

</tr>
     <tr>
         <td colspan=3>Total Amount =</td>
         <td>{{total}}</td>
     </tr>
</table>
{%endblock%}