{% extends 'owner/layout.html' %}

{%block body%}
<h1>Members Data</h1>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>member id</th>

                    <th>first_name</th>

                    <th>last_name</th>
                    <th>mobile</th>
                    <th>department</th>
                    <th>payment_mode</th>
                    <th>time_mode</th>
                    <th>add_transaction</th>
                    <th>Add_Payment</th>
                </tr>
                {% for i in data %}
                <tr>
                    {{i.id}}
                    <td>{{i.username}} </td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td>{{mobile}}</td>
                    <td>{{department}}</td>
                    <td>{{pay}}</td>
                    <td>{{time}}</td>
                  
                   
                   
                    <td><button>
                        <a href="{% url 'add_transaction' i.id %}" class="navbar-link btn-lg"
                            style="background-color:#e97f06;color:hsl(0, 29%, 97%);">transaction</a>
                    </button>
                    <td><button>
                            <a href="{% url 'add_payment' i.id %}" class="navbar-link btn-lg"
                                style="background-color:#e97f06;color:hsl(0, 29%, 97%);">Payment</a>
                        </button>
                    {% endfor %}
                </tr>
               
            </table>
        </div>
    </div>
</div>

{%endblock%}